/* 1 pruklad */
/* .is-dark {
    background-color: black;
    color: white;
}

body{
    transition: 0.5s;
} */

/* 2 */
/* aside {
    background: gold;
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-250px);
    transition: 1s;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside.is-open {
    transform:translateX(0) ;
} */

/* 3 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


